<h1><%= @race.name %></h1>
<h2><%= link_to "Start Race!", run_path(@race) %></h2>

<div class="bets">
<%lane = 170%>

<% @race.snail_races.each do |snail_race|%>
        <div class="snail_whole", style="top: <%=lane%>px;">
            <%= image_tag(snail_race.snail.shell.image, class: "shell")%>
            <%= image_tag(snail_race.snail.body.image, class: "body")%>
        </div>
        <div class="make_bet", style="top: <%=lane+32%>px;">
        <%= form_for @bet do |f|%>
            <%= f.hidden_field :snail_race_id, value: snail_race.id%>
            <%= f.hidden_field :user_id, value: session[:user_id] %>
             <%= f.hidden_field :amount, value: 1 %>

            <%= f.submit "Bet #{Bet.where(user_id: session[:user_id], snail_race_id: snail_race.id).inject(0){|sum,x| sum + x.amount }} on #{snail_race.snail.name}" %>
        <%end%>
        
        </div>
        <%lane += 60%>
<%end%>
</div>





