<h1><div id = "login">Register as a new user</h1>

<div id = "er">
    <%if flash[:errors]%>
    <%flash[:errors].each do |error|%>
        <div id = "error">
        <%= error%>
        </div>
    <%end%>
<%end%>
</div>
<%= form_for @user,  html: { class: "auth-form"} do |f|%>
  <ul class = "login-container">
    <li class = "login_move">
    <%= f.label :name %>
    <%= f.text_field :name %>
    </li>
    <li class = "login_move">
    <%= f.label :password %>
    <%= f.password_field :password %>
    </li>
    <%= f.hidden_field :money, value: 100%>
    <%= f.submit "Register"%>
    </ul>
<%end%>
