<h1 id = "snail_id">Snails</h1>
<% @snails.each do |snail|%>
    <div class = "container-1">
        <div class = "box-1">
            <%= image_tag(snail.shell.image, class: "shell")%>
            <%= image_tag(snail.body.image, class: "body")%>
        </div>
<div class = "box-2">
    <%= link_to "Name: #{snail.name}",snail %><br>
    <%= "Shell: #{snail.shell.color}"%><br>
    <%= "Body: #{snail.body.color}"%><br>
    <%= "Favorite Food: #{snail.favorite_food}"%>
</div>
</div>
<%  end %>





    



