<h1>Create a New Racer</h1>

<%= form_for @snail do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :shell_id %>
    <%= f.collection_select :shell_id, @shells, :id, :color %>

    <%= f.label :body_id %>
    <%= f.collection_select :body_id, @bodies, :id, :color %>

    <%= f.label :favorite_food %>
    <%= f.collection_select :favorite_food, @foods, :name, :name %>

    <%= f.submit%>
<%end%>
<br/>
<%if flash[:errors]%>
    <%flash[:errors].each do |error|%>
        <div id = "error">
        <%= error%>
        </div>
    <%end%>
<%end%>