<h1><%= @snail.name%></h1>
<h3><%= @snail.favorite_food%></h3>

<div class="snail">
    <%= image_tag(@snail.shell.image, class: "shell")%>
    <%= image_tag(@snail.body.image, class: "body")%>
</div>

<div>
<h3>Races</h3>
<ul>
<% @snail.races.each do |race|%>
    <li>
    <% rank = race.snail_races.find_by(snail_id: @snail.id).rank%>
    <% rank == nil ? rank = "TBD" : rank = rank%>
    <%= "#{race.name} rank: #{rank}"%>
    </li>
<%end%>
</ul>

<%if @races.length != 0%>
<%= form_for @snail_race do |f|%>
    <%= f.hidden_field :snail_id, value: @snail.id%>
    <%= f.collection_select :race_id, @races, :id, :name %>

    <%= button_to "Register for this race", snail_races_path, method: :post%>
<%end%>
<%else%>
<%end%>

<%= button_to "Free Snail into the Garden", snail_path(@snail), method: :delete %>
</div>