  <div class="nav-bar">
    <div class="nav-bar-menu">
      <div class = "float_left"><%= "Snail Racing"%></div>
        <div class = "float_left"><%= link_to "Bet On Race"%></div>
          <div class = "float_left"><%= link_to "View Snails", snails_path%></div>
            <div class = "float_left"><%= link_to "Create A New Snail", new_snail_path%></div>
              <div class = "float_left"><%= link_to "Create A New Race", new_race_path	%></div>
  </div>
<div class = "float_left" class = "sing_left"><%= link_to "Sign in", new_user_path%></div>
</div>
  <img class = "bottom-image" src="https://images.unsplash.com/photo-1555791075-27990de5d10a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80" alt="">



